<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.tatans.coeus.alarm">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.DEVICE_POWER" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!--讯飞语音输入所需权限-->
    <!--连接网络权限，用于执行云端语音能力 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--获取手机录音机使用权限，听写、识别、语义理解需要用到此权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <!--读取网络信息状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--获取当前wifi状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!--允许程序改变网络连接状态 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <!--读取手机信息权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!--读取联系人权限，上传联系人需要用到此权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <application
        android:name="net.tatans.coeus.alarm.activities.AlarmClockApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${app_label}"
        android:theme="@android:style/Theme.NoTitleBar"
        android:supportsRtl="true">
        <provider android:name=".provider.AlarmProvider"
            android:authorities="net.tatans.coeus.alarm"
            android:exported="false" />

        <activity android:name="net.tatans.coeus.alarm.activities.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.SettingActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.PublicListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.KeySettingActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.SetAlarmRepeatActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.CustomWeekActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.AddAlarmActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.SetAlarmTimeHourActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.SetAlarmTimeMinuteActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.AlarmAlert"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.AlarmOperateActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.RemarksActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.VioceActivity"
            android:screenOrientation="portrait"/>


        <receiver android:name=".receiver.AlarmReceiver">
            <intent-filter>
                <action android:name="net.tatans.coeus.alarm.ALARM_ALERT" />
                <action android:name="alarm_killed" />
                <action android:name="cancel_snooze" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.AlarmInitReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.LOCALE_CHANGED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.AlarmKlaxon"
            android:description="@string/alarm_klaxon_service_desc">
            <intent-filter>
                <action android:name="net.tatans.coeus.alarm.ALARM_ALERT" />
            </intent-filter>
        </service>
    </application>

</manifest>
